li {
	list-style: none;
	cursor: pointer;
	color: white;
	background-color: gray;
	display: inline-block;
	border: 1px solid black;
	padding: 3px;
	margin: 3px;
}

li:hover {
	background-color: #EFEFEF;
	color: black;
	border: 1px solid #9B4E4E;
}

.active {
	background-color: #5F0000;
	color: white;
	font-weight: bold;
}

#page {
	margin: 20px;
	padding: 0;
}

.block {
	position: relative;
	left: 43px;
	width: 600px;
	background-color: #EFEFEF;
}